Lab5/Lab3/try1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="students">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="student">
					<xs:complexType>
						<xs:attribute name="surname" type="xs:string" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="city" type="xs:string" use="required" />
						<xs:attribute name="ukr" type="xs:byte" use="required" />
						<xs:attribute name="math" type="xs:byte" use="required" />
						<xs:attribute name="eng" type="xs:byte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="number" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>